@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 50rem; 
  margin: 0 auto;
  padding: 1.25rem; 
}

header {
  text-align: center;
  margin-bottom: 1.25rem; 
}

form {
  display: flex;
  /* flex-direction: ; */
  margin-bottom: 1.25rem; 
  gap: 1rem;
  font-family: 'Inter', sans-serif;
  width: 100%;
}

input {
  margin-bottom: 0.625rem; 
  padding: 0.625rem; 
  border: 1px solid #ff0033;
  border-radius: 2rem; 
  font-family: 'Inter', sans-serif;
  width: 80%;
}

button {
  padding: 0.625rem; 
  border: none;
  border-radius: 2rem; 
  background-color: #ff0033;
  color: white;
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-weight: 450;
}

button:hover {
  background-color: #b60024;
}

.idea-item {
  padding: 0.625rem;
  margin-bottom: 0.625rem; 
  gap: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.idea-item h3 {
  margin: 0;
  font-weight: 530;
}

.idea-item button {
  background: none;
  border: none;
  color: #ff0033;
  cursor: pointer;
}

.idea-item button:hover {
  color: #ff0033;
}

.editado {
  margin-right: 1.5625rem; 
  position: relative;
  bottom: 0.1875rem; 
}

@media (max-width: 37.5rem) { 

  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem; 
    gap: 1rem;
    font-family: 'Inter', sans-serif;
    width: 80%;
  }
  
  input {
    margin-bottom: 0.625rem; 
    padding: 0.625rem; 
    border: 1px solid #ff0033;
    border-radius: 2rem; 
    font-family: 'Inter', sans-serif;
    width: 100%;
  }

  .idea-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .class-ideia {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .edit-btn, .delete-btn {
    margin-left: 0;
    margin-top: 0.3125rem; 
  }

  .editado {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.3125rem;
    position: static;
  }
}
